---
import '../styles/fonts.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Captain Magni's Webpage</title>

		<style>
			body {
				background-image: url("AzureCrests.jpg");
				background-repeat: no-repeat;
				background-size: cover;
			}

			h1 {
				color: #2b2b2b;
			}


			.window-container {
				padding: 20px;
				background: ;
				background: linear-gradient(rgba(19, 129, 129, 0.9), rgba(19, 129, 129, 0));
				margin: 4rem 0; 
				color: #000 !important;
			}

			.font-test {
				font-size: 32px;
			}
		</style>
		

	</head>
	<body>
		<main class="container mx-auto">
			<h1 class="mt-20 text-7xl ferrite">Captain Magni</h1>


			<div class="window-container flex flex-col">
				<h1 class="text-5xl py-4 emotion">Wishlist The Curse of Karlanrik</h1>
				<iframe src="https://store.steampowered.com/widget/3083290/" frameborder="0" width="700" height="200"></iframe>
			</div>

			<div class="window-container flex flex-col">
				<h1 class="text-5xl py-4 emotion">Rusting Steiners</h1>
				<iframe src="https://itch.io/embed/2826278?bg_color=000000&amp;fg_color=ffffff&amp;link_color=e53b44&amp;border_color=ffffff" width="700" height="200" frameborder="0"></iframe>
			</div>

			<div class="window-container flex flex-col">
				<h1 class="text-5xl py-4 emotion">Strike Mode</h1>
				<iframe src="https://itch.io/embed/2418664?bg_color=000000&amp;fg_color=ffffff&amp;link_color=e53b44&amp;border_color=ffffff" width="700" height="200" frameborder="0"></iframe>
			</div>

			<div class="window-container flex flex-col">
				<h1 class="text-5xl py-4 emotion">Bouncin</h1>
				<iframe src="https://itch.io/embed/2147627?bg_color=000000&amp;fg_color=ffffff&amp;link_color=e53b44&amp;border_color=ffffff" width="700" height="200" frameborder="0"></iframe>
			</div>
		</main>
	</body>
</html>
