---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<style>
			body {
				background: url("23	.jpg")
			}

			.window-container {
				border: 1px solid #999999;
				padding: 20px;
				background: rgba(0, 0, 0, 0.2);
			}
		</style>
		

	</head>
	<body>

		<div class="window-container">
			<h1>Captain Magni's Hidden Webpage</h1>
			<p>What are you doing here? Theres nothing here</p>
		</div>
		
	</body>
</html>
